<<<<<<< HEAD
---
import { db, eq, Usuarios, Citas } from "astro:db";
import ProductButton from "../components/ProductButton.astro";

const usuariosConCitas = await db
  .select()
  .from(Usuarios)
  .innerJoin(Citas, eq(Usuarios.UsuarioId, Citas.UsuarioId));
---

<table
  class="w-full text-sm text-left rtl:text-right text-white-500 dark:text-gray-400"
>
  <thead
    class="text-xs text-white-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
  >
    <tr>
      <th scope="col" class="p-4">
        <div class="flex items-center">
          <input
            id="checkbox-all-search"
            type="checkbox"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label for="checkbox-all-search" class="sr-only">checkbox</label>
        </div>
      </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Cliente </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Telefono </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Fecha </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Turno </th>
      <th scope="col" class="text-center text-white px-6 py-3">
        Contador de Servicios
      </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Validar </th>
    </tr>
  </thead>
  <tbody>
    {
      usuariosConCitas.map(
        ({
          Usuarios: { UsuarioId, Nombre, Email, Telefono, ContadorServicios },
          Citas: { Fecha, Hora },
        }) => (
          <tr
            key={UsuarioId}
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="w-4 p-4">
              <div class="flex items-center">
                <input
                  id={`checkbox-table-search-${UsuarioId}`}
                  type="checkbox"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
              </div>
            </td>
            <th
              scope="row"
              class="flex px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
            >
              <img
                class="w-10 h-10 rounded-full"
                src="/src/img/fotos-perfil/1.jpg"
                alt="Jese image"
              />
              <div class="ps-3">
                <div class="text-base text-white font-semibold">{Nombre}</div>
                <div class="font-normal text-gray-500">
                  <a class=" text-white" href={`mailto:${Email}`}>
                    {Email}
                  </a>
                </div>
              </div>
            </th>
            <td class="text-center px-6 py-4 text-sm text-white">{Telefono}</td>
            <td class="text-center px-6 py-4 text-sm text-white">{Fecha}</td>
            <td class="text-center px-6 py-4 text-sm text-white">{Hora}</td>
            <td class="text-center px-6 py-4 text-sm text-white">
              {ContadorServicios}
            </td>
            <td class="text-center px-6 py-4 text-sm ">
              <ProductButton>Validar</ProductButton>
            </td>
          </tr>
        )
      )
    }
  </tbody>
</table>
=======
---
import { db, eq, Usuarios, Citas } from "astro:db";
import ProductButton from "../components/ProductButton.astro";

const usuariosConCitas = await db
  .select()
  .from(Usuarios)
  .innerJoin(Citas, eq(Usuarios.UsuarioId, Citas.UsuarioId));
---

<table
  class="w-full text-sm text-left rtl:text-right text-white-500 dark:text-gray-400"
>
  <thead
    class="text-xs text-white-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
  >
    <tr>
      <th scope="col" class="p-4">
        <div class="flex items-center">
          <input
            id="checkbox-all-search"
            type="checkbox"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label for="checkbox-all-search" class="sr-only">checkbox</label>
        </div>
      </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Cliente </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Telefono </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Fecha </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Turno </th>
      <th scope="col" class="text-center text-white px-6 py-3">
        Contador de Servicios
      </th>
      <th scope="col" class="text-center text-white px-6 py-3"> Validar </th>
    </tr>
  </thead>
  <tbody>
    {
      usuariosConCitas.map(
        ({
          Usuarios: { UsuarioId, Nombre, Email, Telefono, ContadorServicios },
          Citas: { Fecha, Hora },
        }) => (
          <tr
            key={UsuarioId}
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="w-4 p-4">
              <div class="flex items-center">
                <input
                  id={`checkbox-table-search-${UsuarioId}`}
                  type="checkbox"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
              </div>
            </td>
            <th
              scope="row"
              class="flex px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
            >
              <img
                class="w-10 h-10 rounded-full"
                src="/src/img/fotos-perfil/1.jpg"
                alt="Jese image"
              />
              <div class="ps-3">
                <div class="text-base text-white font-semibold">{Nombre}</div>
                <div class="font-normal text-gray-500">
                  <a class=" text-white" href={`mailto:${Email}`}>
                    {Email}
                  </a>
                </div>
              </div>
            </th>
            <td class="text-center px-6 py-4 text-sm text-white">{Telefono}</td>
            <td class="text-center px-6 py-4 text-sm text-white">{Fecha}</td>
            <td class="text-center px-6 py-4 text-sm text-white">{Hora}</td>
            <td class="text-center px-6 py-4 text-sm text-white">
              {ContadorServicios}
            </td>
            <td class="text-center px-6 py-4 text-sm ">
              <ProductButton>Validar</ProductButton>
            </td>
          </tr>
        )
      )
    }
  </tbody>
</table>
>>>>>>> e6fd68155ffec9042f985c5cda4d3b777f6188c6
